/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    margin: 0;
    padding: 0;
}

/* Style the tab buttons */
.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-button {
    background-color: #fff;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.tab-button:hover {
    background-color: #8a5353;
}

.tab-button.active {
    background-color: #e9e9e9;
    border-bottom: 2px solid #000;
    font-weight: bold;
}

/* Style the tab content */
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #666666;
    border-top: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Show the active tab content */
.tab-content.active {
    display: block;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 12px;
    text-align: left;
    background-color: #8db5e0;
}

th {
    background-color: #4e3f3f;
    color: white;
}

/* Gradient Button */
.btn-grad {
    background-image: linear-gradient(to right, #003973 0%, #E5E5BE 51%, #003973 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
         
.btn-gra {
    background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-gra:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
          
  .btn-gr {
    background-image: linear-gradient(to right, #403B4A 0%, #E7E9BB  51%, #403B4A  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-gr:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 